<div class="search-bar">
  <tui-textfield
    iconStart="@tui.search"
    class="search-query"
    [class.search-query_visible]="isVisible"
    tuiTextfieldSize="s"
  >
    <input
      #input
      placeholder="Введите название фильма"
      tuiTextfield
      [ngModel]="search()"
      (ngModelChange)="onInputSearch($event)"
    />
  </tui-textfield>
  @if (!isVisible) {
    <button
      class="search-button"
      tuiButton
      appearance="accent"
      tuiButton
      type="button"
      (click)="onSearch(input)"
    >
      <tui-icon icon="@tui.search" />
    </button>
  } @else {
    <button tuiButton appearance="icon" tuiButton type="button" (click)="onCancelSearch()">
      <tui-icon icon="@tui.x" />
    </button>
  }

  <div class="search-popover" [class.search-popover_open]="isOpenResults()">
    <ul class="search-list">
      @for (movie of results(); track $index) {
        <li (click)="openMovieDialog(movie)">{{ movie.title }}</li>
      }
    </ul>
  </div>
</div>
