:host {
  display: grid;
  grid-template-rows: 1fr;
}

.movie-dialog {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  max-width: 900px;
  max-height: 600px;
  overflow: hidden;

  &__poster {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;

    img {
      display: block;
      width: 100%;
      height: auto;
      object-fit: cover;
      border-radius: 24px;
      overflow: hidden;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 12px;
    height: 100%;
    overflow: hidden;
  }
}

.title {
  margin: 0;
  font-weight: 700;
  line-height: 1;
}

.meta {
  display: flex;
  font-size: 12px;
}

.dot {
  &::before {
    content: '•';
    margin: 0 6px;
  }
}

.description {
  font-size: 12px;
  overflow-y: auto;
}
